<div class="side-bar row">
    <div class="col-sm-6 col-lg-12">
       <p><strong>Melhore agora a Gestão Financeira do seu negócio</strong>
           <ul>
                <li>E-book Fluxo de Caixa para MPEs 
                <li>Planilha dinâmica para você começar a organizar seu Fluxo de Caixa hoje mesmo
            </ul>
        </p>
        <p>Para baixar, basta preencher o formulário abaixo. É gratuito!</p>
        <hr>
    </div>
    <div class="col-sm-6 col-lg-12">
        <p class="gradient-text">beneficios:</p>
        <ul class="list-unstyled">
            <li>+ Planilhas Excel</li>
            <li>+ Vídeos Tutoriais</li>
            <li>+ Artigos Exclusivos</li>
            <li>+ Newsletter</li>
        </ul>
        <hr>
    </div>
    <%= render :partial => "leads/form" %>
</div>

