<div class="side-bar row">
    <div class="col-sm-6 col-lg-12">
        inscreva-se e garanta acesso
        <span class="gradient-text" style="font-size: 62px"> gratuito</span>
        à vídeos e downloads sobre gerenciamento de
        <span class="gradient-text text-wrap">microeempresas</span>
        <hr>
    </div>
    <div class="col-sm-6 col-lg-12">
        <p class="gradient-text">beneficios:</p>
        <ul class="list-unstyled">
            <li>+ Planilhas Excel</li>
            <li>+ Vídeos Tutoriais</li>
            <li>+ Artigos Exclusivos</li>
            <li>+ Newsletter</li>
        </ul>
        <hr>
    </div>
    <%= render :partial => "leads/form" %>
</div>

