<div class="side-bar row">
    <div class="col-sm-6 col-lg-12">
       <p class="formlead"><strong>Melhore agora a Gestão Financeira do seu negócio</strong>
           <ul>
                <li>E-book Fluxo de Caixa para MPEs 
                <li>Planilha dinâmica para você começar a organizar seu Fluxo de Caixa hoje mesmo
            </ul>
        </p>
        <p class="formlead">Para baixar, basta preencher o formulário abaixo. É gratuito!</p>
        <hr>
    </div>
    <%= render :partial => "leads/form" %>
</div>

