<div class="side-bar row">
    <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5">
        e garanta acesso <span class="gradient-text" style="font-size: 62px"> gratuito</span>
        à vídeos e downloads sobre gerenciamento de
        <span class="gradient-text text-wrap">microeempresas</span>
    </div>
    <div class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5">
        <p class="gradient-text">beneficios:</p>
        <ul class="list-unstyled">
            <li>+ Planilhas Excel</li>
            <li>+ Vídeos Tutoriais</li>
            <li>+ Artigos Exclusivos</li>
            <li>+ Newsletter</li>
        </ul>
    </div>
    <%= render :partial => "leads/form" %>
</div>

