<header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                         <h1 class="brand-heading">obrigado!,
                         <h2 class="intro-text">em breve receberá um email com nosso material</h2>
                         <%= link_to "continuar navegando", root_url, class: "btn btn-primary btn-lg" %>
                    </div>
                </div>
            </div>
        </div>
    </header>
