<div style="padding: 12px 0 12px 0;">
<h3><strong>Siga-nos</strong></h3>
    <span>Acompanhe a MEInspiro em nossas redes sociais e fique sempre atualizado.</p>
    <div class="row">
        <div class="offset-sm-4 col-sm-2 offset-xs-4 col-xs-2 text-center">
            <a href="https://www.facebook.com/meinspiroblog/"> <%= image_tag("facebook-color.png", size: "48", class: "img-circle") %></a>
        </div>
        <div class="col-sm-2 col-xs-2 text-center">
           <a href="https://www.linkedin.com/company-beta/22302579/"> <%= image_tag("linkedin-color.png", size: "48", class: "img-circle") %></a>
        </div>
    </div>
<div>


