<div style="padding: 12px 0 12px 0;">
<h3><strong>Siga-nos</strong></h3>
    <span>Acompanhe a Meinspiro em nossas redes sociais, e fique sempre atualizado.</p>
    <div class="row">
        <div class="col-sm-4 col-xs-4 text-center">
            <a href="https://www.facebook.com/MEInspiro-923978054411871/"> <%= image_tag("facebook-color.png", size: "48", class: "img-circle") %></a>
        </div>
        <div class="col-sm-4 col-xs-4 text-center">
           <a href="#"> <%= image_tag("linkedin-color.png", size: "48", class: "img-circle") %></a>
        </div>
        <div class="col-sm-4 col-xs-4 text-center">
           <a href="#">  <%= image_tag("twitter-color.png", size: "48", class: "img-circle") %></a>
        </div>
    </div>
<div>


