
 <div class="intro-header">

        <div class="jumbotron">
            <h1>microempreededor,</h1>
            <p>apreenda a gerenciar seu negócio de maneira fácil e eficaz!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">assista o video</a></p>
       </div>  
      <div class="container">
        <%= yield %>
        <%= render :partial => "leads/create" %>
      </div>
    </div>