

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="videoWrapper" id="yt">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UtTn4IvzaEM?rel=0&amp;showinfo=0" 
                                    frameborder="0" 
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

      <section id="body" style="background-color: #fff; padding-top: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <%= render :partial => "posts/index" %>
                </div>
                <div class="col-lg-3 hidden-xs">
                    <%= render :partial => "leads/create" %>
                </div>
            </div>
        </div>
    </section>
    
    