

    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UtTn4IvzaEM?rel=0&amp;showinfo=0" 
                                frameborder="0" 
                                allowfullscreen 
                                style="display: none"
                                id="yt"></iframe>
                        
                        <div id="call">
                            <h1 class="brand-heading">microempreededor,
                            <h2 class="intro-text">apreenda a gerenciar seu negócio de maneira fácil e eficaz!</h2>
                        
                        
                            <button
                            class="btn btn-primary btn-lg" type="button" role="button" id="playVideo">
                                assista o video
                                <span class="glyphicon glyphicon-play"></span>
                            </buton>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

      <section id="body" style="background-color: #fff; padding: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <%= render :partial => "posts/index" %>
                </div>
                <div class="col-lg-3">
                    <%= render :partial => "leads/create" %>
                </div>
            </div>
        </div>
    </section>
    <script>
    $(function(){
        $('#yt').hide();
        $('#playVideo').on('click', function(){
            $('#yt').show();
            $('#call').hide();
        });
    })
    </script>