
        <div class="thumbnail">
           
            <%= image_tag("posts/post1.jpg") %>
           
            <div class="caption">
                <h1 class="text-center">Título</h1>
                <h4 class="text-center">Por Author em 21/05/2017</h4>
                <p class="text-justify post-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut dapibus ipsum. In hac habitasse platea dictumst. Pellentesque tristique arcu dolor, feugiat rhoncus neque mattis eget. Vestibulum ut congue risus. Vestibulum diam ipsum, mattis ac ante sit amet, pretium aliquam felis. Morbi ut elementum mauris. Phasellus facilisis enim eget elit mattis fermentum. Vestibulum tempus eros mauris, nec mollis dolor tempus vitae. Aenean bibendum sed tortor at blandit. Cras eu purus in quam imperdiet vehicula a eget ante. Integer posuere nisl ac mauris rutrum, sit amet convallis urna laoreet. Sed vel arcu vulputate, luctus lacus eu, gravida enim. Maecenas volutpat quam placerat dolor gravida, sed sodales purus egestas. Fusce ut turpis risus. Suspendisse bibendum feugiat augue, convallis elementum massa pellentesque tempor. Nunc vel convallis magna, at pretium velit.

Pellentesque dignissim faucibus posuere. Nullam sagittis pellentesque arcu. Aenean consequat elit nibh, sed tincidunt lacus porta sodales. Integer non justo tellus. Duis consequat luctus sollicitudin. Sed id ante euismod tortor blandit blandit ac non ligula. Aenean finibus tristique nunc, id dapibus risus interdum et. Phasellus mi elit, volutpat vel imperdiet sit amet, pellentesque malesuada leo. Nam malesuada augue in nunc lobortis elementum eget vitae mi. Nunc ut risus nisl. Duis ac eleifend tellus. Sed dapibus tincidunt tortor sed gravida. Vestibulum velit sapien, placerat ut faucibus non, ornare sit amet enim. Integer dignissim lobortis est. Vivamus posuere a nibh sit amet fermentum. Nunc porta nisl pellentesque fermentum dignissim.
                </p>   
            </div>
        </div>
